@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>

        #about-this-university {
            width: 500px;
            float: left;
            border-top: 1px solid black;
            margin-top: 100px;
            text-align: left;
        }

        #about-this-page {
            width: 500px;
            float: right;
            border-top: 1px solid black;
            margin-top: 100px;
            text-align: left;
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome to our academic portal</h1>
    <div id="about-this-university">
        <h2>About our University</h2>
        <p>This is a paragraph about the University</p>
    </div>
    <div id="about-this-page">
        <h2>About this website</h2>
        <p>This is a paragraph about the Page</p>
    </div>
</div>